[package]
name = "surrealkv"
publish = true
version = "0.3.7"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
description = "A low-level, versioned, embedded, ACID-compliant, key-value database for Rust"
repository = "https://github.com/surrealdb/surrealkv"
homepage = "https://github.com/surrealdb/surrealkv"
documentation = "https://docs.rs/surrealkv/"
keywords = ["lmdb", "rocksdb", "sled", "redb", "tikv"]
categories = ["database-implementations", "concurrency", "data-structures"]
rust-version = "1.74"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ahash = "0.8.11"
crc32fast = "1.3.2"
chrono = "0.4.31"
parking_lot = "0.12.1"
lru = "0.12.0"
async-channel = "2.1.1"
futures = "0.3.30"
bytes = "1.5.0"
tokio = { version = "1.36", features = ["rt", "sync"] }
quick_cache = "0.6.0"
vart = "0.5.0"
revision = "0.7.1"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
tempdir = "0.3"
rand = "0.8.5"
criterion = { version = "0.5.1", features = ["async_tokio", "html_reports"] }
mimalloc = { version = "0.1.39", default-features = false }
nanoid = "0.4.0"
fastrand = "2.0.1"
libc = "0.2.155"
fmmap = "0.3.3"
memmap2 = "0.9.4"
once_cell = "1.18.0"
redb = { version = "1.5.0" }
ctrlc = "3.2.3"
sled = "0.34.7"
rocksdb = "0.22.0"
comfy-table = "7.0.1"


[[bench]]
name = "store_bench"
harness = false

[[bench]]
name = "compare_stores_bench"
harness = false

[[bench]]
name = "sdb_bench"
harness = false

